<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.diary.dao.CalendarDAO">
<select id="list" resultType="damo" >
	SELECT U_ID,TO_CHAR(D_DATE,'YYYY-MM-DD') AS D_DATE,D_WEIGHT,D_RESULTEAT, D_RESULTEXE,D_SUCCESS FROM DIARY 
	WHERE U_ID = #{param1}
</select>

<select id="getMonthData" resultType="damo">
	SELECT C.C_TARKCAL,C.C_TAREXE,C.C_DATE ,C.C_CONTENT
	FROM USERINFO U ,CALENDER C 
	WHERE U.U_ID=C.U_ID AND U.U_ID = #{param1} 
	AND TO_CHAR(C.C_DATE,'YYYY-MM') = #{param2}
</select>

<select id="getWeight" resultType="damo">
	 SELECT U.U_tarWeight,U.U_WEIGHT FROM USERINFO U WHERE U.U_ID=#{param1}
</select>

<update id="updateMD">
	UPDATE CALENDER SET ${param1}=#{param2} WHERE U_ID=#{param4} AND TO_CHAR(C_DATE,'YYYY-MM')=#{param3}
</update>

</mapper>