<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.diary.dao.CalendarDAO">
<select id="list" resultType="damo" >
	SELECT TO_CHAR(D_DATE,'YYYY-MM-DD') AS D_DATE,D_RESULTEAT, D_RESULTEXE,D_SUCCESS FROM DIARY 
	WHERE U_ID = #{param1} AND TO_CHAR(D_DATE,'YYYY-MM') = #{param2}
</select>


</mapper>