<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.diary.dao.DiaryDAO">

<select id="diaryDetail" resultType="damo"  parameterType="String">
SELECT * FROM diary WHERE TO_CHAR(d_date,'YYYY-MM-DD') = #{param1} AND u_id=#{param2}
</select>

<select id="diaryStartData" resultType="damo" parameterType="String">
SELECT C.C_TARKCAL, C.C_TAREXE, C.C_DATE, u.u_weight, u.u_id, u.u_height
	FROM USERINFO U ,CALENDER C 
	WHERE U.U_ID=C.U_ID AND U.U_ID = #{param2}
	AND TO_CHAR(C.C_DATE,'YYYY-MM') = #{param1}
</select>

<insert id="diaryInsert" 
   useGeneratedKeys="true"
   keyColumn="d_no"
   keyProperty="d_no"
   parameterType="damo"
   >
	INSERT INTO diary (d_no, u_id, d_date,d_weight,d_carbo,d_protein,d_fat,d_code,d_tarexe,d_tarkcal) VALUES
		(d_no_seq.NEXTVAL,#{u_id},#{d_date},#{u_weight},#{d_carbo},#{d_protein},#{d_fat},'D001',#{c_tarExe},#{c_tarKcal})
</insert>

<update id="memoUpdate" parameterType="String">
	UPDATE diary SET d_memo = #{param2} WHERE d_no = #{param1}
</update>

<update id="weightUpdate" parameterType="String">
	UPDATE diary SET d_weight = #{param2} WHERE d_no = #{param1}
</update>

<update id="eatTarKcalUpdate" parameterType="String">
	UPDATE diary SET d_tarKcal = #{param2} WHERE d_no = #{param1}
</update>

<update id="exeTarKcalUpdate" parameterType="String">
	UPDATE diary SET d_tarExe = #{param2} WHERE d_no = #{param1}
</update>

<select id="searchFood" resultType="damo">
	SELECT FOOD_NAME, FOOD_WEIGHT, FOOD_CALORIE, FOOD_CARBO, FOOD_PROTEIN, FOOD_FAT FROM FOODLIST WHERE REPLACE(FOOD_NAME,' ','') LIKE '%'||#{param1}||'%'
</select>

<select id="searchExe" resultType="damo">
	SELECT MET_NAME, MET FROM MET WHERE REPLACE(MET_NAME,' ','') LIKE '%'||#{param1}||'%'
</select>

<insert id="checkList" 
   useGeneratedKeys="true"
   keyColumn="ch_no"
   keyProperty="ch_no"
   parameterType="damo"
   >
	INSERT INTO checkList_diary (ch_no,cd_no, cd_content, cd_checkyn) VALUES
		(ch_no_seq.NEXTVAL,#{cd_no}, #{cd_content},'N')
</insert>

<select id="checklistDetail" resultType="damo"  parameterType="damo">
SELECT * FROM checklist_diary WHERE cd_no = (SELECT d_no FROM diary WHERE TO_CHAR(d_date,'YYYY-MM-DD') =#{param1} AND u_id=#{param2})
</select>

<delete id="checkDel" parameterType="String">
	DELETE FROM checklist_diary WHERE ch_no = #{param1}
</delete>


<insert id="insertExe" parameterType="damo">
	INSERT INTO HIS_EXERCISE(HE_NO,HE_TIME,HE_KCAL,MET_NAME) VALUES(#{he_no},#{he_time},#{he_kcal},#{met_name})
</insert>

<insert id="insertEat" parameterType="damo">
	INSERT INTO HIS_DAILY(HD_NO,HD_CODE,HD_EAT, HD_FOODNAME,HD_CARBO,HD_PROTEIN,HD_FAT,HD_KCAL) 
	VALUES(#{hd_no},#{hd_code},#{hd_eat},#{hd_foodName},#{hd_carbo},#{hd_protein},#{hd_fat},#{hd_kcal})
</insert>

<select id="checkHisDaily" parameterType="damo" resultType="damo">
	SELECT HD_EAT,HD_CARBO,HD_PROTEIN,HD_FAT,HD_KCAL, HD_FOODNAME  FROM HIS_DAILY
	WHERE HD_NO=#{hd_no} AND HD_CODE=#{hd_code} AND HD_FOODNAME = #{hd_foodName}
</select>

<update id="updateHisDaily" parameterType="damo">
	UPDATE HIS_DAILY SET HD_EAT=#{hd_eat}, HD_CARBO=#{hd_carbo},HD_PROTEIN=#{hd_protein},HD_FAT=#{hd_fat} 
	WHERE  HD_NO=#{hd_no} AND HD_CODE=#{hd_code} AND HD_FOODNAME = #{hd_foodName}
</update>

<select id="checkHisExe" parameterType="damo" resultType="damo">
	SELECT HE_TIME,HE_KCAL,MET_NAME FROM HIS_EXERCISE WHERE HE_NO=#{he_no} AND MET_NAME=#{met_name}
</select>

<update id="updateHisExe" parameterType="damo">
	UPDATE HIS_EXERCISE SET HE_TIME=#{he_time} ,HE_KCAL=#{he_kcal} WHERE HE_NO=#{he_no} AND MET_NAME=#{met_name}
</update>

<select id="searchDiary" resultType="damo">
	SELECT D_RESULTEAT, D_RESULTEXE, D_RESULTCARBO, D_RESULTPROTEIN, D_RESULTFAT FROM DIARY WHERE D_NO=#{param1}
</select>

<update id="updateDiaryEat" parameterType="damo">
	UPDATE DIARY SET D_RESULTEAT=#{d_resultEat}, D_RESULTCARBO=#{d_resultCarbo}, D_RESULTPROTEIN=#{d_resultProtein} ,D_RESULTFAT=#{d_resultFat} WHERE D_NO=#{d_no}
</update>

<update id="updateDiaryExe" parameterType="damo">
	UPDATE DIARY SET D_RESULTEXE=#{d_resultExe} WHERE D_NO=#{d_no}
</update>
<update id="checkYN" parameterType="String">
	UPDATE checklist_diary SET cd_checkYN = #{param2} WHERE ch_no = #{param1}

</update>

<select id="hisDailyList" resultType="damo"  parameterType="damo">
	SELECT hd_no, hd_code, hd_eat,hd_foodname,hd_carbo,hd_protein, hd_fat,hd_kcal,
		(select c_name from code where his_daily.hd_code = code.c_code)as c_name
	FROM his_daily WHERE hd_no = (SELECT d_no FROM diary WHERE TO_CHAR(d_date,'YYYY-MM-DD') =#{param1} AND u_id=#{param2})
</select>

<!-- <select id="totalKcal" resultType="hashmap"  parameterType="damo">
	 SELECT (select c_name from code where his_daily.hd_code = code.c_code)as c_name, SUM(HD_KCAL) as totalKcal
   FROM his_daily
   WHERE hd_no = (SELECT d_no FROM diary WHERE TO_CHAR(d_date,'YYYY-MM-DD') =#{param1} AND u_id=#{param2})
   GROUP BY HD_CODE;
</select> -->

</mapper>