<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.user.dao.BlackListDAO">

	<insert id="dbregister">
		insert into blacklist VALUES(B_NO_SEQ.NEXTVAL,#{param1},#{param2},SYSDATE,TO_DATE(#{param3},'yy/mm/dd'),#{param4},#{param5})
	</insert>


	<select id="checkrecbid" resultType="int">
		SELECT COUNT(U_ID) FROM blacklist WHERE U_ID = #{param1}
	</select>

	<select id="checkadmin" resultType="int">
		SELECT COUNT(*) FROM userinfo WHERE U_adminYN = 'Y' and u_id = #{param1}
	</select>



</mapper>