<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.user.dao.NotifyDAO">
	<update id="updatenotify">
		UPDATE his_notify SET HN_code = 'HN003' where HN_no = #{param1};
	</update>
	
	<insert id="userNotify">
		INSERT INTO Notify(N_NO,N_RECEIVEID,N_SENDID,N_CONTENT,N_DT,N1_CODE,N2_CODE) VALUES(n_no_seq.NEXTVAL,#{n_receiveid},#{n_sendid},#{n_content},sysdate,#{n1_code},#{n2_code})
	</insert>
</mapper>