<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.user.dao.UserDAO">

	<select id="login" resultType="int">
		SELECT COUNT(U_ID) FROM USERINFO WHERE U_ID = #{param1} AND U_PW = #{param2}  AND U_BLINDYN = 'N'
	</select>

	<select id="userinfo" resultType="damo">
		SELECT * FROM USERINFO WHERE U_ID = #{param1}  AND U_BLINDYN = 'N'
	</select>

	<select id="dbblacklist" resultType="hashmap">
		SELECT U_ID,TO_CHAR(B_ENDDT,'YYYY-MM-DD')AS ENDTIME,B_CONTENT FROM BLACKLIST WHERE U_ID = #{param1}
	</select>

	<select id="dbfilename" resultType="string">
		SELECT U_FILENAME FROM USERINFO WHERE U_ID = #{param1}
	</select>
	
	<select id="dbninkname" resultType="string">
		SELECT U_NICK FROM USERINFO WHERE U_ID = #{param1}
	</select>
	
	<select id="dbmanager" resultType="string">
		SELECT U_ADMINYN FROM USERINFO WHERE U_ID = #{param1}
	</select>

	<select id="iddbfind" resultType="string">
		SELECT U_ID FROM USERINFO WHERE U_NAME = #{param1} AND U_EMAIL = #{param2}
	</select>
	
	<update id="pwdbfind">
		UPDATE USERINFO SET U_PW = #{param4} WHERE U_ID = #{param1} AND U_NAME = #{param2} AND U_EMAIL = #{param3}
	</update>

	<select id="checkdbId" resultType="int">
		SELECT COUNT(U_ID) FROM USERINFO WHERE U_ID = #{param1}
	</select>
	
	<select id="checkdbnink" resultType="int">
		SELECT COUNT(U_NICK) FROM USERINFO WHERE U_NICK = #{param1}
	</select>
	
	<select id="checkdbemail" resultType="int">
		SELECT COUNT(U_EMAIL) FROM USERINFO WHERE U_EMAIL = #{param1}
	</select>


	<insert id="join" parameterType="damo">
		INSERT INTO USERINFO(U_ID,U_PW,U_NAME,U_EMAIL,U_NICK,U_AGE,U_WEIGHT,U_TARWEIGHT,U_HEIGHT,U_GENDER,U_ADMINYN,U_CHOOSECNT,U_ALARMYN)
		VALUES(#{u_id},#{u_pw},#{u_name},#{u_email},#{u_nick},#{u_age},#{u_weight},#{u_tarWeight},#{u_height},#{u_gender},'N',0,'Y')
	</insert>

	<update id="update">
		UPDATE USERINFO SET U_NICK = #{u_nick},U_PW = #{u_pw},U_GENDER = #{u_gender},U_AGE = #{u_age},U_HEIGHT = #{u_height},U_TARWEIGHT = #{u_tarWeight},U_INTRO = #{u_intro} WHERE U_ID = #{u_id}
	</update>


	<update id="dbphotoname" parameterType="string">
		UPDATE USERINFO SET U_FILENAME = #{param2}  WHERE U_ID = #{param1}
	</update>


	<update id="dbalarmupdate" parameterType="string">
		UPDATE USERINFO SET U_ALARMYN = #{param1}  WHERE U_ID = #{param2}
	</update>

	<update id="dbchangenotifystate">
		UPDATE his_notify SET HN_CODE = #{param2} WHERE HN_NO = #{param1}
	</update>
	
	<select id="dbuser" resultType="damo">
		SELECT U_ID,U_NICK,U_NAME,U_EMAIL,U_ADMINYN FROM (select row_number() over (order by U_JOINTM desc)rnum,U_ID,U_NICK,U_NAME,U_EMAIL,U_ADMINYN from userinfo)where U_ADMINYN = 'N' and rnum BETWEEN #{param1} and #{param2}
	</select>

	<select id="dbnotify" resultType="damo">
select distinct n.n_no,n.n_receiveid,n.n_sendid,n1.n1_name n1_name,n2.n2_name n2_name,c.c_name c_name from notify n,(SELECT n_no,n_receiveid,n_sendid FROM (select row_number() over (order by n_no desc)rnum,n_no,n_receiveid,n_sendid from notify)where rnum BETWEEN #{param1} and #{param2}),his_notify hn,code c,n1_code n1,n2_code n2
		where n.n_no = hn.hn_no and hn.hn_code = c.c_code and n.n1_code = n1.n1_code and n.n2_code = n2.n2_code and n1.n1_code = n2.n1_code order by n_no
	</select>
	
	<select id="dbblack" resultType="damo">
		SELECT  * FROM (select row_number() over (order by B_no desc)rnum,b_no,U_id,B_code,B_startDt,B_endDt,B_content,B_adminId from BlackList) where rnum BETWEEN #{param1} and #{param2}
	</select>

	<select id="nink_me_and_aother_check" resultType="int">
		SELECT count(u_nick) FROM USERINFO WHERE U_NICK != #{param1}
	</select>

	<select id="userallCount" resultType="int">
 		select count(*) from USERINFO
	</select>
	
	<select id="notifyallCount" resultType="int">
 		select count(*) from notify
	</select>

	<select id="blackallCount" resultType="int">
 		select count(*) from BlackList
	</select>
	
	<select id="dbnotifyinfo" resultType="damo">
		select distinct n.n_no,n.n_notifiedno,n.n_dt,n.n_receiveid,n.n_sendid,n.n_content,n1.n1_name,n2.n2_name,c.c_name c_name from notify n,his_notify hn,code c,n1_code n1,n2_code n2
		where n.n_no = hn.hn_no and hn.hn_code = c.c_code and n.n1_code = n1.n1_code and n.n2_code = n2.n2_code and n1.n1_code = n2.n1_code and n.n_no = #{param1}
	</select>

	<select id="dbblackinfo" resultType="damo">
			select * from blacklist b,code c where b.b_no = #{param1} and b.b_code = c.c_code
	</select>

	<select id="myPageUserInfo" resultType="damo">
		SELECT u_id, u_pw, u_name, u_email, u_nick, u_age, u_weight, u_tarweight, u_height, u_gender, u_intro, u_filename, u_choosecnt,
	        (SELECT g_filename FROM grade WHERE g_code = u.g_code) g_filename,
	        (SELECT count(*) FROM knowfit WHERE u_id = #{param1} AND k_blindyn = 'N') fitcnt,
	        (SELECT count(*) FROM knowfit_r WHERE u_id = #{param1} AND kr_blindyn = 'N') anscnt,
	        u_choosecnt*100/NVL(NULLIF((SELECT count(*) FROM knowfit_r WHERE u_id = #{param} AND kr_blindyn = 'N'),0),1) choosepct,
	        (SELECT rnum
	         FROM (SELECT ROW_NUMBER() OVER(ORDER BY u_choosecnt DESC) AS rnum, 
	            U.u_id, U.u_nick, U.u_filename, U.u_choosecnt, NVL(K.anscnt,0) anscnt
	            FROM (SELECT u_id, u_nick, u_filename, u_choosecnt FROM userinfo WHERE u_blindyn = 'N') U,
	            (SELECT u_id, count(*) anscnt FROM knowFit_R GROUP BY u_id) K
	            WHERE U.u_id = K.u_id(+)
	            ORDER BY U.u_choosecnt DESC, anscnt DESC)
	         WHERE U_ID = #{param1}
	        ) ranking
		FROM userinfo u
		WHERE u_id = #{param1}
	</select>
	
	<select id="myFitList" resultType="damo">
		SELECT k_no, k_code, k_title, k_content, k_solutionyn, (SELECT c_name FROM code WHERE c_code = k_code) c_name 
		FROM knowfit 
		WHERE k_blindyn = 'N' AND u_id = #{param1}
	</select>
	
	<select id="myAnsList" resultType="damo">
		SELECT k.k_no, k.k_code, k.k_title, 
       		   kr.kr_content, kr.kr_chooseyn, (SELECT c_name FROM code WHERE c_code = k.k_code) c_name  
		FROM knowfit k, knowfit_r kr 
		WHERE k.k_no = kr.k_no AND k.k_blindyn = 'N' AND 
      		  kr.kr_blindyn = 'N' AND kr.u_id = #{param1}
	</select>
	
	<select id="myDirList" resultType="damo">
		SELECT k.k_no, k.k_code, k.k_title, k.k_content, k.k_solutionyn, (SELECT c_name FROM code WHERE c_code = k.k_code) c_name
		FROM knowfit k, mydir m
		WHERE k.k_no = m.k_no AND k.k_blindyn = 'N' AND m.u_id = #{param1}
	</select>
	
	<select id="alarmList" resultType="damo">
		
	</select>
</mapper>