<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.user.dao.UserDAO">

	<select id="login" resultType="int">
		SELECT COUNT(U_ID) FROM USERINFO WHERE U_ID = #{param1} AND U_PW = #{param2}  AND U_BLINDYN = 'N' AND (SELECT U_ID FROM BLACKLIST WHERE U_ID = #{param1})IS NULL
	</select>

	<select id="dbfilename" resultType="string">
		SELECT U_FILENAME FROM USERINFO WHERE U_ID = #{param1}
	</select>
	
	<select id="dbninkname" resultType="string">
		SELECT U_NICK FROM USERINFO WHERE U_ID = #{param1}
	</select>

	<select id="checkId" resultType="int">
		SELECT COUNT(U_ID) FROM USERINFO WHERE U_ID = #{param1}
	</select>

	<select id="matchnick" resultType="int">
		SELECT COUNT(U_NICK) FROM USERINFO WHERE U_NICK = #{param1}
	</select>


	<insert id="join" parameterType="damo">
		INSERT INTO USERINFO(U_ID,U_PW,U_NAME,U_EMAIL,U_NICK,U_AGE,U_WEIGHT,U_TARWEIGHT,U_HEIGHT,U_GENDER,U_ADMINYN,U_CHOOSECNT,U_ALARMYN)
		VALUES(#{u_id},#{u_pw},#{u_name},#{u_email},#{u_nick},#{u_age},#{u_weight},#{u_tarWeight},#{u_height},#{u_gender},'N',0,'Y')
	</insert>

</mapper>