<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper에 대한 선언문 -->
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.dumveloper.damo.fit.dao.FitDAO">
	<select id="bestFitList" resultType="damo">
		SELECT k_no,k_title, u_id,u_nick, k_view, k_replycnt, k_solutionyn, k_code, k_name, k_blindyn
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY k.k_replycnt DESC, k.k_view) AS rnum,
			k.k_no,k.k_title, u.u_id, u.u_nick, k.k_view, k.k_replycnt, k.k_solutionyn, k.k_code, k.k_blindyn,
			(SELECT c_name FROM code WHERE c_code = UPPER(k.k_code)) AS k_name
			FROM (SELECT * FROM knowfit WHERE k_blindyn = 'N') k INNER JOIN userInfo u ON k.u_id = u.u_id)
		WHERE rnum BETWEEN 1 AND 4
	</select>
	
	<select id="newFitList" resultType="damo">
		SELECT rnum, k_no, k_title, k_view, k_replycnt, k_solutionyn, u_id, u_nick, k_name, k_blindyn
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY k.k_no DESC) AS rnum,
		        k.k_no,k.k_title, k.k_view, k.k_replycnt, k.k_solutionyn, k.k_blindyn,
		        u.u_id, u.u_nick,
		        (SELECT c_name FROM code WHERE c_code = UPPER(k.k_code)) AS k_name 
		        FROM (SELECT * FROM knowfit WHERE k_blindyn = 'N') k INNER JOIN userInfo u ON k.u_id = u.u_id 
		        <where>
		        	<if test="param3.equals('전체')"></if>
		        	<if test="param3.equals('자세교정')">k_code = (SELECT c_code FROM CODE WHERE c_name = '자세교정')</if>
		        	<if test="param3.equals('식단')">k_code = (SELECT c_code FROM CODE WHERE c_name = '식단')</if>
		        	<if test="param3.equals('운동')">k_code = (SELECT c_code FROM CODE WHERE c_name = '운동')</if>
		        	<if test="param3.equals('고민')">k_code = (SELECT c_code FROM CODE WHERE c_name = '고민')</if>
		        	<if test="param3.equals('기타')">k_code = (SELECT c_code FROM CODE WHERE c_name = '기타')</if>
		        </where>
		     )
		WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<insert id="fitWrite"
		useGeneratedKeys = "true"
		keyColumn = "k_no"
		keyProperty = "ki_no"
		parameterType="damo">
		INSERT INTO KNOWFIT(k_no,u_id,k_code,k_title,k_content,k_date,k_view,k_replyCnt,k_solutionYN,k_blindYN)
		VALUES (k_no_seq.NEXTVAL,#{u_id},#{k_code},#{k_title},#{k_content},sysdate,0,0,'N','N')
	</insert>
	
	<insert id="upload">
		INSERT INTO KNOWFIT_IMG VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
	
	<select id="fitImgList" resultType="String">
		SELECT ki_name FROM KnowFit_Img WHERE ki_no = #{param1} AND ki_imgYN = #{param2} AND ki_knowYN = #{param3}
	</select>
	
	<select id="fitUpdateForm" resultType="damo">
		SELECT * FROM KnowFit WHERE k_no = #{param1}
	</select>
	
	<update id="knowfitUpdate" parameterType="damo">
		UPDATE knowfit SET k_code = #{k_code}, k_title = #{k_title}, k_content = #{k_content} WHERE k_no = #{k_no}
	</update>
	
	<update id="knowfitimgUpdate">
		UPDATE knowfit_img SET ki_name = #{param2} WHERE ki_no = #{param1} AND ki_imgyn = #{param3} AND ki_knowyn = #{param4}
	</update>
	<insert id="knowfitImgInsert">
		INSERT INTO knowfit_img VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
	
	<delete id="knowfitImgDelete">
		DELETE FROM knowfit_img WHERE ki_no = #{param1} AND ki_name = #{param2} AND ki_imgyn = #{param3} AND ki_knowyn = #{param4}
	</delete>
	
	<delete id="knowfitUrlDelete">
		DELETE FROM knowfit_img WHERE ki_no = #{param1} AND ki_imgyn = #{param2} AND ki_knowyn = #{param3}
	</delete>
	
	<select id="fitRanking" resultType="damo">
		SELECT u_id, u_nick, u_filename, u_choosecnt, anscnt,
			(SELECT g_filename FROM GRADE WHERE u_choosecnt BETWEEN g_standard  AND g_maxstandard ) g_filename
		FROM (
		    SELECT ROW_NUMBER() OVER(ORDER BY u_choosecnt DESC) AS rnum, 
		          U.u_id, U.u_nick, U.u_filename, U.u_choosecnt, NVL(K.anscnt,0) anscnt
		    FROM (SELECT u_id, u_nick, u_filename, u_choosecnt FROM userinfo) U,
		         (SELECT u_id, count(*) anscnt FROM knowFit_R GROUP BY u_id) K
		    WHERE U.u_id = K.u_id(+)
		    ORDER BY U.u_choosecnt DESC, anscnt DESC)
		WHERE rnum BETWEEN 1 AND 10    
	</select>
	<!-- 여기부터 -->

	<select id="myRanking" resultType="int">
		SELECT rnum
		FROM (
		    SELECT ROW_NUMBER() OVER(ORDER BY u_choosecnt DESC) AS rnum, 
		          U.u_id, U.u_nick, U.u_filename, U.u_choosecnt, NVL(K.anscnt,0) anscnt
		    FROM (SELECT u_id, u_nick, u_filename, u_choosecnt FROM userinfo) U,
		         (SELECT u_id, count(*) anscnt FROM knowFit_R GROUP BY u_id) K
		    WHERE U.u_id = K.u_id(+)
		    ORDER BY U.u_choosecnt DESC, anscnt DESC)
		WHERE U_ID = #{param1}
	</select>	
	<select id="fitDetail" resultType="damo">
		SELECT K.k_no,K.u_id,U.u_nick,C.c_name,K.k_title,K.k_content,K.k_date,K.k_view,K.k_replycnt,K.k_solutionyn,K.k_blindyn, G.g_filename 
		FROM knowfit K LEFT JOIN userinfo U on K.u_id = U.u_id JOIN GRADE G ON U.g_code = G.g_code JOIN code C ON K.k_code =  C.c_code WHERE K.k_no = #{k_no}
		<!-- SELECT * FROM KnowFit WHERE k_no = #{k_no} -->
	</select>
	
	<update id="upView" parameterType="String">
		UPDATE knowFit SET k_view = k_view+1 WHERE k_no = #{k_no}
	</update>
	
	<select id="fitImgLinkList" resultType="damo">
		SELECT ki_no, ki_name,ki_imgYN FROM KnowFit_Img WHERE ki_no = #{param1} AND ki_knowYN = #{param2}
	</select>
	
	<select id="fitAnsDetail" resultType="damo">
		SELECT kr_no,kr.u_id,U.u_nick,kr_chooseyn,kr_date,kr_content, G.g_filename FROM knowFit_r KR LEFT JOIN userinfo U on KR.u_id = U.u_id JOIN GRADE G ON U.g_code = G.g_code WHERE k_no = #{k_no} AND kr_blindyn = 'N' ORDER BY kr.kr_chooseyn DESC, kr.kr_date 		
	</select>

	<update id="fitDelete" parameterType="String">
		UPDATE KNOWFIT SET K_BLINDYN='Y' WHERE K_NO = #{k_no}		
	</update> 
	
	<insert id="fitAnsWrite"	useGeneratedKeys = "true" keyColumn = "kr_no" keyProperty = "ki_no"	parameterType="damo">
		INSERT INTO KNOWFIT_R(kr_no,k_no,u_id,kr_chooseyn,kr_content,kr_date,kr_blindYN)
		VALUES (kr_no_seq.NEXTVAL,#{k_no},#{u_id},'N',#{kR_content},sysdate,'N')
	</insert>
	
	<update id="upRpl" parameterType="String">
		UPDATE knowFit SET k_replycnt = k_replycnt+1 WHERE k_no = #{k_no}
	</update>
	
	<update id="downRpl" parameterType="String">
		UPDATE knowFit SET k_replycnt = k_replycnt-1 WHERE k_no = #{k_no}
	</update>
	
	<update id="fitAnsDel" parameterType="String">		
		UPDATE KNOWFIT_R SET KR_BLINDYN='Y' WHERE KR_NO = #{kr_no}
	</update> 
	
	<select id="chkChoosed" resultType="String">
		SELECT kr_chooseyn FROM knowFit_r WHERE kr_no = #{kr_no}		
	</select>
	
	<update id="knowfitRUpdate" parameterType="damo">
		UPDATE knowfit_r SET kr_content = #{kR_content} WHERE kr_no = #{kR_no}
	</update>
	
	<select id="chkChoose" resultType="String">
		SELECT k_solutionYN FROM knowFit WHERE k_no = #{kr_n}		
	</select>
	
	<update id="chooseFitAns" parameterType="String">
		UPDATE knowfit_r SET kr_chooseYN = 'Y' WHERE kr_no = #{kR_no}
	</update>
	
	<update id="upFitAns" parameterType="String">
		UPDATE knowfit SET k_solutionYN = 'Y' WHERE k_no = #{k_no}
	</update>
	
	<select id="chkDir" resultType="damo">
		SELECT * FROM Mydir WHERE k_no = #{param1} AND u_id = #{param2}		
	</select>

	<insert id="addDir">
		INSERT INTO Mydir VALUES(#{param1},#{param2},sysdate)
	</insert>
	
	<delete id="delDir">
		DELETE FROM Mydir WHERE k_no = #{param1} AND u_id = #{param2}
	</delete>
	
	<select id="serchtitle" resultType="damo">
		SELECT K_title FROM KnowFit where K_title LIKE '%'||#{param1}||'%'
	</select>
	
	<select id="serchcontent" resultType="damo">
		SELECT k_content FROM KnowFit where K_content LIKE '%'||#{param1}||'%'
	</select>
	
	
</mapper>